<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

<form action = "/academic/student-data/add/" method = "POST">
	{% csrf_token %}
	<label>Students : </label><br>
	<label>Name : </label>
	<input id="name" type="text" name="name"><br>
	<label>Class: </label>
	<input id="st_class" type="text" name="st_class"><br>
	<label>Section : </label>
	<input id="section" type="text" name="section"><br>
	<label>Roll : </label>
	<input id="roll" type="number" name="roll"><br>
	<label>Age : </label>
	<input id="age" type="number" name="age"><br>
	<button type="submit" value="Submit">Submit</button>
</form>
</div>

</body>
</html>